<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<div class="wrap">

<h3 class="header">{{.content}}</h3>

<div class="main">

</div>

<div class="nav">
    <ul>
        <li>php</li>
        <li>{{.language}}</li>
        <li>python</li>
        <li>java</li>
    </ul>
</div>

<div class="content">
    <h6>title</h6>
    <img src="welcome.html" />
    <p>test...ew.we.rw.we</p>
    <p>2020-07-17</p>
</div>

</div>
</body>
</html>

